psutil>=5.9.0
PyYAML>=6.0
PyQt5>=5.15.6
PyQt5-Qt5>=5.15.2
PyQt5-sip>=12.9.1
PyQt5-stubs>=5.15.2.0
QDarkStyle>=3.0.3
VapourSynth>=57
requests>=2.27.1
requests_toolbelt>=0.9.1
vsengine>=0.1
numpy>=1.22.3
pyFFTW>=0.13.0
Pillow>= 9.0.1;platform_system=="Windows"
